.card.shadow {
  border: none;
}

.row-cards {
  min-width: 0;
  .row-cards {
    flex: 1;
  }
}

.row-deck>.col,
.row-deck>[class*=col-] {
  display: flex;
  align-items: stretch;

  .card {
    flex: 1 1 auto
  }
}
