// Single container class with breakpoint max-widths
.container-half,
  // 100% wide container at all breakpoints
.container-fluid-half {
  @include make-container();
}

// Responsive containers that are 100% wide until a breakpoint
@each $breakpoint, $container-max-width in $container-max-widths {
  .container-half-#{$breakpoint} {
    @extend .container-fluid-half;
  }

  @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
    %responsive-container-half-#{$breakpoint} {
      max-width: $container-max-width / 2;
    }

    // Extend each breakpoint which is smaller or equal to the current breakpoint
    $extend-breakpoint: true;

    @each $name, $width in $grid-breakpoints {
      @if ($extend-breakpoint) {
        .container-half#{breakpoint-infix($name, $grid-breakpoints)} {
          @extend %responsive-container-half-#{$breakpoint};
        }

        // Once the current breakpoint is reached, stop extending
        @if ($breakpoint == $name) {
          $extend-breakpoint: false;
        }
      }
    }
  }
}
