@import "styles/core";

.offcanvasSeparator {
  margin-left: calc(-1 * var(--bs-offcanvas-padding-y));
  margin-right: calc(-1 * var(--bs-offcanvas-padding-y));
}

.navbar {
  position: absolute;

  &.floating {
    position: fixed;
    opacity: 1;

    img {
      width: auto;
      max-height: 40px;
    }
  }
}
