@import "styles/core";

.iconWrapper {
  background-color: white;
  border: 8px solid #f8f8f8;
  border-radius: 100%;
  color: $sub-primary;
  width: 10em;
  height: 10em;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    border: 1px solid #e2e2e2;
    transition: border-color .3s ease-in-out;
  }

  &:hover {
    background-color: $sub-primary;
    color: white;

    &:before {
      border-color: $sub-primary;
    }
  }

  .icon {
    & > svg {
      width: 4.5em;
      height: 4.5em;
    }
  }
}
