@import "styles/core";

.sectionWithPaddingX {
  padding-left: 1rem;
  padding-right: 1rem;

  @include media-breakpoint-up(lg) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @include media-breakpoint-up(xl) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.sectionWithPaddingY {

  @include media-breakpoint-up(sm) {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  @include media-breakpoint-up(lg) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  @include media-breakpoint-up(xl) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.sectionXl {
  height: 100vh;

  @include media-breakpoint-up(sm) {
    height: (3 / 4 * 100vh); //4/3
  }

  @include media-breakpoint-up(md) {
    height: (9 / 16 * 100vh); //16/9
  }

  @include media-breakpoint-up(lg) {
    height: (9 / 21 * 100vh); //21/9
  }
}
