@import "styles/core";

.footer {
  a {
    color: white;
    text-decoration: none;

    &:hover {
      color: orange;
      text-decoration: underline;
    }
  }

  .topFooter {
    background: rgba(0,0,0,.2);
  }

  .subFooter {
    border-top: 1px solid rgba(255,255,255,0.1);
  }
}
