$enable-rfs: true;

$body-bg: #F8F9FA;

//Colors
$primary: #2556cf;
$primary-dark: #172e59;
$sub-primary: #ffaf30;

//Forms
$input-border-radius: 0;

//Shadow
$input-icon-color: $primary;

//Theme colors
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$theme-colors: (
        "primary": $primary,
        "primary-dark": $primary-dark,
        "sub-primary": $sub-primary,
        "secondary": $secondary,
        "success": $success,
        "info": $info,
        "warning": $warning,
        "danger": $danger,
        "light": $light,
        "dark": $dark
);
