name: Bundle Size

on:
    pull_request:
        branches:
            - main

permissions:
    pull-requests: write

jobs:
    size:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Use Node.js LTS
              uses: actions/setup-node@v4
              with:
                  node-version: '22'
                  cache: 'yarn'

            - name: Install dependencies
              run: yarn install --frozen-lockfile

            - name: Build
              run: yarn build

            - name: Check bundle size
              uses: andresz1/size-limit-action@v1
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  skip_step: build
                  package_manager: yarn
